# caching and swaping
__pycache__/
*.py[cod]
*.swp

# folders
virtualenv/
dist/
build/ 

# IDE
.idea/

# logs
*.log
*.egg-info

# outs
*.png
*.jpg
*.pdf

# saves
*.data*
*.index
*.meta
*.pkl
*.pickle
*.bak
*tfevents*
checkpoint
